h4 {
  min-height: 53px;
}

.navbar {
  background: #E0E0E0 !important;
}

.img-thumbnail {
  margin-bottom: 10px;
}


.btn-circle {
  width: 30px;
  height: 30px;
  margin: 3px;
  font-size: 12px;

  border-radius: 15px;
  padding: 0px;


}